* {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding-top: 15%;
  text-align: center;
  font-size: 25px;
  max-width: auto;
}

.bg {
  background-image: url(../assets/main2.png);
}

.bg1 {
  background-image: url(../assets/main3.png);
}

.bg,
.bg1 {
  min-height: 84vh;
  justify-content: center;
  align-items: center;
}

.block1 {
  background-color: rgb(252, 243, 118);
  padding: 20px 30px;
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 2px;
  border-radius: 12px;
  display: inline-block;
}

.mycenter {
  text-align: center;
}

#HomeButton {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 2px;
  border-radius: 12px;
  width: 200px;
}

.mapButton {
  background-color: darkgreen;
  color: white;
  padding: 8px 50px;
}

.map {
  display: none;
}

#map {
  /* display: none; */
  overflow: scroll;
  height: 75vh;
  width: 215vh;
  /* backgrond-color: blue; */
}

.imgMap{
  text-align: center;
  margin: 2% auto;
  height: 30vh;
  width: 40vw;

}
.imgMap img{
  height: 30vh;
  width: 40vw;
  border-radius: 10%;
}

.HeaderHome {
  min-height: 84vh;
}

.homeHead1 {
  font-size: 80px;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.testHead1 {
  font-size: 50px;
  text-shadow: 1px 1px 2px black;
}
.label1 {
  font-size: 25px;
  text-shadow: 1px 1px 2px black;
}

.element {
  padding: 0 30px;
}

footer {
  margin-top: auto;
}

.footer {
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  max-width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#test,
#result {
  padding-top: 8vh;
  text-align: center;
  margin-top: 73px;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
}

.form-control,
.geo-button {
  width: 450px;
}

.inputCenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.button:hover {
  cursor: pointer;
}
#ico {
  color: white;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
}
#ico1 {
  color: white;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
  /* margin-left: 10px; */
}
#ico2 {
  color: white;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
  /* margin-left: 10px; */
}
.nav-btn{
  background-color: #343a40;
  border-radius: 0;
}
#container {
  display: flex;
  padding-left: 2%;
}
#image1 {
  height: 30vh;
  width: 40vh;
  margin-top: 8%;
}
#texture {
  margin-right: 6%;
}
#container1 {
  display: flex;
  margin-top: 3%;
  padding-left: 2%;
}
#image2 {
  height: 40vh;
  width: 40vh;
}
#texture1 {
  margin-right: 6%;
}
.table {
  margin-top: 6%;
  border: 1px solid black;
  border-collapse: collapse;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#cityTable{
  margin-top: 0;
}
caption {
  caption-side: top;
  color: black;
}
.table img {
  height: 20vh;
}
th,
td {
  padding-left: 5%;
}
#ref {
  padding-top: 2%;
  text-decoration: none;
  color: black;
}
#crops {
  height: 50%;
}
.card {
  width: 18rem;
}
.pointer:hover {
  cursor: pointer;
}
.inline{
  display: inline-block;
}
.white{
  color: white;
}
.bgGrey{
  background-color: #838383;
}