{% extends "base.html" %} {% block body %}
<section class="wrapper">
  <div class="container-fostrap">
    <!-- <div>
      <h1 class="heading">Provinces</h1>
    </div> -->
    <div class="content">
      <div class="container">
        <div>
          <h1 class="heading">Quetta Division</h1>
        </div>
        <div class="row">
          {{card("Quetta", url_for('static',filename = 'assets/Balochistan/Quetta.jpg'), '/soil/balochistan/quetta')}}
          {{card("Pishin", url_for('static',filename = 'assets/Balochistan/Pishin.jpg'), '/soil/balochistan/pishin')}}
          {{card("Killa Abdullah", url_for('static',filename = 'assets/Balochistan/Killa Abdullah.jpg'), '/soil/balochistan/killaabdullah')}}
          {{card("Chaman", url_for('static',filename = 'assets/Balochistan/Chaman.jpg'), '/soil/balochistan/chaman')}}
          {{card("Karezat", url_for('static',filename = 'assets/Balochistan/Karezat.jpg'), '/soil/balochistan/karezat')}}
        </div>
      </div>
        <div class="container">
          <div>
            <h1 class="heading">Zhob Division</h1>
          </div>
          <div class="row">
            {{card("Zhob", url_for('static',filename = 'assets/Balochistan/Zhob.jpg'), '/soil/balochistan/zhob')}}
            {{card("Killa Saifullah", url_for('static',filename = 'assets/Balochistan/Killa Saifullah.jpg'), '/soil/balochistan/killasaifullah')}}
            {{card("Sherani", url_for('static',filename = 'assets/Balochistan/Sherani.jpg'), '/soil/balochistan/sherani')}}
          </div>
        </div>
        <div class="container">
            <div>
            <h1 class="heading">Loralai Division</h1>
            </div>
            <div class="row">
            {{card("Loralai", url_for('static',filename = 'assets/Balochistan/Loralai.jpg'), '/soil/balochistan/loralai')}}
            {{card("Musakhel", url_for('static',filename = 'assets/Balochistan/Musakhel.jpg'), '/soil/balochistan/musakhel')}}
            {{card("Barkhan", url_for('static',filename = 'assets/Balochistan/Barkhan.jpg'), '/soil/balochistan/barkhan')}}
            </div>
        </div>
        <div class="container">
            <div>
            <h1 class="heading">Kalat Division</h1>
            </div>
            <div class="row">
            {{card("Kalat", url_for('static',filename = 'assets/Balochistan/Kalat.jpg'), '/soil/balochistan/kalat')}}
            {{card("Khuzdar", url_for('static',filename = 'assets/Balochistan/Khuzdar.jpg'), '/soil/balochistan/khuzdar')}}
            {{card("Awaran", url_for('static',filename = 'assets/Balochistan/Awaran.jpg'), '/soil/balochistan/awaran')}}
            {{card("Lasbela", url_for('static',filename = 'assets/Balochistan/Lasbela.jpg'), '/soil/balochistan/lasbela')}}
            {{card("Hub", url_for('static',filename = 'assets/Balochistan/hub.jpg'), '/soil/balochistan/hub')}}
            {{card("Mustung", url_for('static',filename = 'assets/Balochistan/Mustung.jpg'), '/soil/balochistan/mustung')}}
            {{card("Surab", url_for('static',filename = 'assets/Balochistan/Surab.jpg'), '/soil/balochistan/surab')}}
            </div>
        </div>
        <div class="container">
            <div>
            <h1 class="heading">Sibi Division</h1>
            </div>
            <div class="row">
            {{card("Sibi", url_for('static',filename = 'assets/Balochistan/Sibi.jpg'), '/soil/balochistan/sibi')}}
            {{card("Kohlu", url_for('static',filename = 'assets/Balochistan/Kohlu.jpg'), '/soil/balochistan/kohlu')}}
            {{card("Dera Bugti", url_for('static',filename = 'assets/Balochistan/Dera Bugti.jpg'), '/soil/balochistan/derabugti')}}
            {{card("Ziarat", url_for('static',filename = 'assets/Balochistan/Ziarat.jpg'), '/soil/balochistan/ziarat')}}
            {{card("Harnai", url_for('static',filename = 'assets/Balochistan/Harnai.jpg'), '/soil/balochistan/harnai')}}
            </div>
        </div>
        <div class="container">
            <div>
            <h1 class="heading">Nasirabad Division</h1>
            </div>
            <div class="row">
            {{card("Nasirabad", url_for('static',filename = 'assets/Balochistan/Nasirabad.jpg'), '/soil/balochistan/nasirabad')}}
            {{card("Jhal magsi", url_for('static',filename = 'assets/Balochistan/Jhal Magsi.jpg'), '/soil/balochistan/jhalmagsi')}}
            {{card("Kachhi", url_for('static',filename = 'assets/Balochistan/Kacchi.jpg'), '/soil/balochistan/kachhi')}}
            {{card("Jafarabad", url_for('static',filename = 'assets/Balochistan/Jafarabad.jpg'), '/soil/balochistan/jafarabad')}}
            {{card("Sohbatpur", url_for('static',filename = 'assets/Balochistan/Sohbatpur.jpg'), '/soil/balochistan/sohbatpur')}}
            {{card("Usta Muhammad", url_for('static',filename = 'assets/Balochistan/Usta Muhammad.jpg'), '/soil/balochistan/ustamuhammad')}}
            </div>
        </div>
        <div class="container">
            <div>
            <h1 class="heading">Makran Division</h1>
            </div>
            <div class="row">
            {{card("Kech", url_for('static',filename = 'assets/Balochistan/Kech.jpg'), '/soil/balochistan/kech')}}
            {{card("Gwadar", url_for('static',filename = 'assets/Balochistan/Gwadar.jpg'), '/soil/balochistan/gwadar')}}
            {{card("Punjpur", url_for('static',filename = 'assets/Balochistan/Punjpur.jpg'), '/soil/balochistan/punjpur')}}
            </div>
        </div>
        <div class="container">
            <div>
            <h1 class="heading">Rakhshan Division</h1>
            </div>
            <div class="row">
            {{card("Kharan", url_for('static',filename = 'assets/Balochistan/Kharan.jpg'), '/soil/balochistan/kharan')}}
            {{card("Chagai", url_for('static',filename = 'assets/Balochistan/Chagai.jpg'), '/soil/balochistan/chagai')}}
            {{card("Nushki", url_for('static',filename = 'assets/Balochistan/Nushki.jpg'), '/soil/balochistan/nushki')}}
            {{card("Washuk", url_for('static',filename = 'assets/Balochistan/Washuk.jpg'), '/soil/balochistan/washuk')}}
            </div>
        </div>
      
      
      




      </div>
    </div>
</section>
{% endblock %}
