{% extends "base.html" %} {% block body %}
<section class="wrapper">
  <div class="container-fostrap">
    <!-- <div>
      <h1 class="heading">Provinces</h1>
    </div> -->
    <div class="content">
      <div class="container">
        <div>
          <h1 class="heading">Balistan Division</h1>
        </div>
        <div class="row">
          {{card("Ghanche", url_for('static',filename = 'assets/Gilgit/Ghanche.jpg'), '/Gigit/Ghanche')}}
          {{card("Skardu", url_for('static',filename = 'assets/Gilgit/Skardu.jpg'), '/Gigit/Skardu')}}
          {{card("Kharmang ", url_for('static',filename = 'assets/Gilgit/Kharmang.jpg'), '/Gigit/Kharmang ')}}
          {{card("Shigar", url_for('static',filename = 'assets/Gilgit/Shigar.jpg'), '/Gigit/Shigar')}}
          {{card("Roundu", url_for('static',filename = 'assets/Gilgit/Roundu.jpg'), '/Gigit/Roundu')}}
        </div>
      </div>
      <div class="container">
        <div>
          <h1 class="heading">Diamer Division</h1>
        </div>
        <div class="row">
            {{card("Astore", url_for('static',filename = 'assets/Gilgit/Astore.jpg'), '/Gigit/Astore')}}
            {{card("Diamer", url_for('static',filename = 'assets/Gilgit/Diamer.jpg'), '/Gigit/Diamer')}}
            {{card("Tangir", url_for('static',filename = 'assets/Gilgit/Tangir.jpg'), '/Gigit/Tangir')}}
            {{card("Darel", url_for('static',filename = 'assets/Gilgit/Darel.jpg'), '/Gigit/Darel')}}
        </div>
      </div>
      <div class="container">
        <div>
          <h1 class="heading">Gilgit Division</h1>
        </div>
        <div class="row">
            {{card("Gilgit", url_for('static',filename = 'assets/Gilgit/Gilgit.jpg'), '/Gigit/Gilgit')}}
            {{card("Ghizer", url_for('static',filename = 'assets/Gilgit/Ghizer.jpg'), '/Gigit/Ghizer')}}
            {{card("Hunza", url_for('static',filename = 'assets/Gilgit/Hunza.jpg'), '/Gigit/Hunza')}}
            {{card("Nagar", url_for('static',filename = 'assets/Gilgit/Nagar.jpg'), '/Gigit/Nagar')}}
        </div>
      </div>
      
      
      </div>
    </div>
</section>
{% endblock %}
