{% extends "base.html" %} {% block body %}
<section class="wrapper">
  <div class="container-fostrap">
    <!-- <div>
      <h1 class="heading">Provinces</h1>
    </div> -->
    <div class="content">
      <div class="container">
        <div>
          <h1 class="heading">Balistan Division</h1>
        </div>
        <div class="row">
          {{card("Ghanche", url_for('static',filename = 'assets/Gilgit/Ghanche.jpg'), '/soil/gilgit/ghanche')}}
          {{card("Skardu", url_for('static',filename = 'assets/Gilgit/Skardu.jpg'), '/soil/gilgit/skardu')}}
          {{card("Kharmang ", url_for('static',filename = 'assets/Gilgit/Kharmang.jpg'), '/soil/gilgit/kharmang ')}}
          {{card("Shigar", url_for('static',filename = 'assets/Gilgit/Shigar.jpg'), '/soil/gilgit/shigar')}}
          {{card("Roundu", url_for('static',filename = 'assets/Gilgit/Roundu.jpg'), '/soil/gilgit/roundu')}}
        </div>
      </div>
      <div class="container">
        <div>
          <h1 class="heading">Diamer Division</h1>
        </div>
        <div class="row">
            {{card("Astore", url_for('static',filename = 'assets/Gilgit/Astore.jpg'), '/soil/gilgit/astore')}}
            {{card("Diamer", url_for('static',filename = 'assets/Gilgit/Diamer.jpg'), '/soil/gilgit/diamer')}}
            {{card("Tangir", url_for('static',filename = 'assets/Gilgit/Tangir.jpg'), '/soil/gilgit/tangir')}}
            {{card("Darel", url_for('static',filename = 'assets/Gilgit/Darel.jpg'), '/soil/gilgit/darel')}}
        </div>
      </div>
      <div class="container">
        <div>
          <h1 class="heading">Gilgit Division</h1>
        </div>
        <div class="row">
            {{card("Gilgit", url_for('static',filename = 'assets/Gilgit/Gilgit.jpg'), '/soil/gilgit/gilgit')}}
            {{card("Ghizer", url_for('static',filename = 'assets/Gilgit/Ghizer.jpg'), '/soil/gilgit/ghizer')}}
            {{card("Hunza", url_for('static',filename = 'assets/Gilgit/Hunza.jpg'), '/soil/gilgit/hunza')}}
            {{card("Nagar", url_for('static',filename = 'assets/Gilgit/Nagar.jpg'), '/soil/gilgit/nagar')}}
        </div>
      </div>
      
      
      </div>
    </div>
</section>
{% endblock %}
