{% extends "base.html" %} {% block body %}
<header
  class="HeaderHome"
  style="background-image: url('{{url_for('static', filename='assets/main.png')}}')"
>
  <div class="header">
    <h1 class="homeHead1">Welcome to our portal</h1>
    <p style="color: white">
      Check Soil Texture and Salinity of your soil simply by adding
      <b>Geo-Coordinates</b> of your area
    </p>
    <a href="/test">
      <button id="button" style="width: 200px" class="btn btn-danger">
        Start Checking
      </button>
    </a>
  </div>
</header>
<!-- home -->
<div class="home">
  <p class="block1">
    <b
      >Soil, is a mixture of organic matter, minerals, gases, liquids, and
      organisms that together support life. It is a major component of ecosystem
      of the earth.About 45% of soil is made up of minerals, 5% of soil is
      organic matter, 20–30% of soil is water, and 20–30% of soil is air. The
      water supply, farming methods, and soil type are just a few examples of
      the many variables that can cause daily changes in the soil’s
      composition.Soil minerals are divided into three size classes, clay,
      silt,sand and the proportions of these particles make up the soil
      texture.</b
    >
  </p>
  <img
    src="{{url_for('static',filename='assets/Soil_texture_triangle.png')}}"
  />
  <div id="element1" class="element">
    <h3>Soil Texture</h3>
    <p>
      The percentage of sand, silt, and clay-sized particles that make up the
      soil’s mineral component is referred to as the soil texture. The ability
      of nutrients and water to be maintained in the soil is influenced by the
      texture of the soil; as a result, clay and organic soils contain nutrients
      and water considerably better than sandy soils, where water drains and
      brings nutrients with it.The United States Department of Agriculture
      (USDA) has recognized 12 main categories for soil texture.The 12
      classifications are sand, loamy sand, sandy loam, loam, silt loam, silt,
      sandy clay loam, clay loam, silty clay loam, sandy clay, silty clay, and
      clay. When describing the equal amounts of sand, silt, and clay in a soil
      sample, the term ”loam” is used.The percentages of sand, clay, and silt
      are represented by the triangle’s first, second, and third sides,
      respectively.A soil is categorised as a sandy loam if it contains 70%
      sand, 10% clay and %20 silt.
    </p>
  </div>
  <div id="element2" class="element">
    <h3>Electrical Conductivity</h3>
    <img id="img1" src="{{url_for('static',filename='assets/table.jpg')}}" />
    <p>
      A measurement of the quantity of salts in soil is called soil Electrical
      Conductivity (EC). Electrical Conductivity and salinity of soil are
      interchangeable terms.It is a reliable measure of nutrient availability
      and loss as well as of soil texture and water capacity. The quantities of
      nitrates, potassium, sodium, chloride, sulphate, and ammonia have been
      associated with EC, despite the fact that it does not directly detect
      particular ions or salt compounds. Smaller clay particles conduct more
      electrical current than larger silt and sand particles, making soil EC a
      useful tool for determining the texture of the top layer. Below table
      shows the effect of salinity on crops.
    </p>
  </div>
</div>
{% endblock %}
