{% extends "base.html" %} {% block body %}
<header class="HeaderHome" style="background-image: url('{{url_for('static', filename='assets/main.png')}}')">
  <div class="header">
    <h1 class="homeHead1">Welcome to our portal</h1>
    <p style="color: white">
      Check Soil Texture and Salinity of your soil simply by adding
      <b>Geo-Coordinates</b> of your area
    </p>
    <a href="/test">
      <button id="HomeButton" class="btn btn-danger button">
        Start Checking
      </button>
    </a>
  </div>
</header>
</div>
{% endblock %}