{% extends "base.html" %} {% block body %}
<section class="wrapper">
  <div class="container-fostrap">
    <!-- <div>
      <h1 class="heading">Provinces</h1>
    </div> -->
    <div class="content">
      <div class="container">
        <div>
          <h1 class="heading">Muzaffarbad Division</h1>
        </div>
        <div class="row">
          {{card("Muzaffarbad", url_for('static',filename = 'assets/Kashmir/Muzaffarabad.jpg'), '/soil/kashmir/muzaffarbad')}}
          {{card("Hattian Bala", url_for('static',filename = 'assets/Kashmir/Hattian Bala.jpg'), '/soil/kashmir/hattianbala')}}
          {{card("Neelum", url_for('static',filename = 'assets/Kashmir/Neelum.jpg'), '/soil/kashmir/neelum')}}
        </div>
      </div>
      <div class="container">
        <div>
          <h1 class="heading">Mirpur Division</h1>
        </div>
        <div class="row">
            {{card("Mirpur", url_for('static',filename = 'assets/Kashmir/Mirpur.jpg'), '/soil/kashmir/mirpur')}}
            {{card("Kotli", url_for('static',filename = 'assets/Kashmir/Kotli.jpg'), '/soil/kashmir/kotli')}}
            {{card("Bhimber", url_for('static',filename = 'assets/Kashmir/Bhimber.jpg'), '/soil/kashmir/bhimber')}}
        </div>
      </div>
      <div class="container">
        <div>
          <h1 class="heading">Poonch Division</h1>
        </div>
        <div class="row">
            {{card("Poonch", url_for('static',filename = 'assets/Kashmir/Poonch.jpg'), '/soil/kashmir/poonch')}}
            {{card("Haveli", url_for('static',filename = 'assets/Kashmir/Haveli.jpg'), '/soil/kashmir/haveli')}}
            {{card("Bagh", url_for('static',filename = 'assets/Kashmir/Bagh.jpg'), '/soil/kashmir/bagh')}}
            {{card("Sudhnati", url_for('static',filename = 'assets/Kashmir/Sudhnati.jpg'), '/soil/kashmir/sudhnati')}}
        </div>
      </div>
      
      
      </div>
    </div>
</section>
{% endblock %}
