{% extends "base.html" %} {% block body %}
<section class="wrapper">
  <div class="container-fostrap">
    <div>
      <h1 class="heading">Provinces</h1>
    </div>
    <div class="content">
      <div class="container">
        <div class="row">
          {{card("Punjab", url_for('static',filename = 'assets/Punjab.jpg'), '/Punjab')}}
          {{card("Sindh", url_for('static',filename = 'assets/Sindh.jpg'), '/Sindh')}} 
          {{card("Balochistan", url_for('static',filename = 'assets/Balochistan.jpg'), '/Balochistan')}}
        </div>
        <div class="row">
          {{card("KPK", url_for('static',filename = 'assets/Khyber.jpg'), '/KPK')}} 
          {{card("Gilgit Baltistan", url_for('static',filename = 'assets/Gilgit.jpg'), '/Gilgit')}}
          {{card("Azad Kashmir", url_for('static',filename = 'assets/Azad_Kashmir.jpg'), '/Kashmir')}}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}