{% extends "base.html" %} {% block body %}
<section class="wrapper">
  <div class="container-fostrap">
    <!-- <div>
      <h1 class="heading">Provinces</h1>
    </div> -->
    <div class="content">
      <div class="container">
        <div>
          <h1 class="heading">Rawalpindi Division</h1>
        </div>
        <div class="row">
          {{card("Attock", url_for('static',filename = 'assets/Punjab/Attock.png'), '/soil/punjab/attock')}}
          {{card("Chakwal", url_for('static',filename = 'assets/Punjab/Chakwal.png'), '/soil/punjab/chakwal')}}
          {{card("Jehlum", url_for('static',filename = 'assets/Punjab/Jhelum.png'), '/soil/punjab/jehlum')}}
          {{card("Rawalpindi", url_for('static',filename = 'assets/Punjab/Rawalpindi.png'), '/soil/punjab/rawalpindi')}}
          {{card("Taxila", url_for('static',filename = 'assets/Punjab/Taxila.png'), '/soil/punjab/taxila')}}
          {{card("Gujar Khan", url_for('static',filename = 'assets/Punjab/Gujar Khan.png'), '/soil/punjab/gujarKhan')}}
          {{card("Kahuta", url_for('static',filename = 'assets/Punjab/Kahuta.png'), '/soil/punjab/kahuta')}}
          {{card("Adiala", url_for('static',filename = 'assets/Punjab/Adiala.png'), '/soil/punjab/adiala')}}
          {{card("Swan", url_for('static',filename = 'assets/Punjab/Swan.png'), '/soil/punjab/swan')}}
        </div>
      </div>
      <div class="container">
        <div>
          <h1 class="heading">Sahiwal Division</h1>
        </div>
        <div class="row">
          {{card("Okara", url_for('static',filename = 'assets/Punjab/Okara.png'), '/soil/punjab/okara')}}
          {{card("Pakpattan", url_for('static',filename = 'assets/Punjab/Pakpattan.png'), '/soil/punjab/pakpattan')}}
          {{card("Sahiwal", url_for('static',filename = 'assets/Punjab/Sahiwal.png'), '/soil/punjab/sahiwal')}}
        </div>
      </div>
      <div class="container">
        <div>
          <h1 class="heading">Bahawalpur Division</h1>
        </div>
        <div class="row">
          {{card("Bahawalpur", url_for('static', filename = 'assets/Punjab/Bahawalpur.jpg'), '/soil/punjab/bahawalpur')}}
          {{card("Bahawalnagar", url_for('static', filename = 'assets/Punjab/Bahawalnagar.png'), '/soil/punjab/bahawalnagar')}}
          {{card("Rahim Yar Khan", url_for('static', filename = 'assets/Punjab/Rahim Yar Khan.jpg'), '/soil/punjab/rahimyarkhan')}}
        </div>
      </div>
      <div class="container">
        <div>
          <h1 class="heading">Faislabad Division</h1>
        </div>
        <div class="row">
          {{card("Faislabad", url_for('static',filename = 'assets/Punjab/Faisalabad.jpg'), '/soil/punjab/faislabad')}}
          {{card("Chiniot", url_for('static',filename = 'assets/Punjab/Chiniot.jpg'), '/soil/punjab/chiniot')}}
          {{card("Jhang", url_for('static',filename = 'assets/Punjab/Jhang.jpg'), '/soil/punjab/jhang')}}
          {{card("Toba Tek Singh", url_for('static',filename = 'assets/Punjab/Toba Tek Singh.jpg'), '/soil/punjab/tobateksingh')}}
        </div>
      </div>
      <div class="container">
        <div>
          <h1 class="heading">Gujarawala Division</h1>
        </div>
        <div class="row">
          {{card("Narowal", url_for('static',filename = 'assets/Punjab/Narowal.jpg'), '/soil/punjab/narowal')}}
          {{card("Sialkot", url_for('static',filename = 'assets/Punjab/Sialkot.jpg'), '/soil/punjab/sialkot')}}
          {{card("Gujrawala", url_for('static',filename = 'assets/Punjab/Gujawala.jpg'), '/soil/punjab/gujrawala')}}
        </div>
      </div>
      <div class="container">
        <div>
          <h1 class="heading">Gujrat Division</h1>
        </div>
        <div class="row">
          {{card("Gujrat", url_for('static',filename = 'assets/Punjab/Gujrat.jpg'), '/soil/punjab/gujrat')}}
          {{card("Hafizabad", url_for('static',filename = 'assets/Punjab/Hafizabad.jpg'), '/soil/punjab/hafizabad')}}
          {{card("Mandi Bahauddin", url_for('static',filename = 'assets/Punjab/Mandi Bahauddin.jpg'), '/soil/punjab/mandibahauddin')}}
        </div>
      </div>
      <div class="container">
        <div>
          <h1 class="heading">Multan Division</h1>
        </div>
        <div class="row">
          {{card("Multan", url_for('static',filename = 'assets/Punjab/Multan.jpg'), '/soil/punjab/multan')}}
          {{card("Khanewal", url_for('static',filename = 'assets/Punjab/Khanewal.jpg'), '/soil/punjab/khanewal')}}
          {{card("Lodhran", url_for('static',filename = 'assets/Punjab/Lodhran.jpg'), '/soil/punjab/lodhran')}}
          {{card("Vehari", url_for('static',filename = 'assets/Punjab/Vehari.jpg'), '/soil/punjab/vehari')}}
        </div>
      </div>
      <div class="container">
        <div>
          <h1 class="heading">Lahore Division</h1>
        </div>
        <div class="row">
          {{card("Lahore", url_for('static',filename = 'assets/Punjab/Lahore.jpg'), '/soil/punjab/lahore')}}
          {{card("Kasur", url_for('static',filename = 'assets/Punjab/Kasur.jpg'), '/soil/punjab/kasur')}}
          {{card("Nankana Sahib", url_for('static',filename = 'assets/Punjab/Nankana Sahib.jpg'), '/soil/punjab/nankanasahib')}}
          {{card("Sheikhupra", url_for('static',filename = 'assets/Punjab/Sheikhupura.jpg'), '/soil/punjab/sheikhupura')}}
        </div>
      </div>
      <div class="container">
        <div>
          <h1 class="heading">Sargodha Division</h1>
        </div>
        <div class="row">
          {{card("Sargodha", url_for('static',filename = 'assets/Punjab/Sargodha.jpg'), '/soil/punjab/sargodha')}}
          {{card("Mianwali", url_for('static',filename = 'assets/Punjab/Mianwali.jpg'), '/soil/punjab/mianwali')}}
          {{card("Bhakkar", url_for('static',filename = 'assets/Punjab/Bhakkar.jpg'), '/soil/punjab/bhakkar')}}
          {{card("Khushab", url_for('static',filename = 'assets/Punjab/Khushab.jpg'), '/soil/punjab/khushab')}}
        </div>
      </div>
      <div class="container">
        <div>
          <h1 class="heading">DG Khan Division</h1>
        </div>
        <div class="row">
          {{card("DG Khan", url_for('static',filename = 'assets/Punjab/DG Khan.jpg'), '/soil/punjab/djkhan')}}
          {{card("Layyah", url_for('static',filename = 'assets/Punjab/Layyah.jpg'), '/soil/punjab/layyah')}}
          {{card("Muzaffargarh", url_for('static',filename = 'assets/Punjab/Muzaffargarh.jpg'), '/soil/punjab/muzaffargarh')}}
          {{card("Rajanpur", url_for('static',filename = 'assets/Punjab/Rajanpur.jpg'), '/soil/punjab/rajanpur')}}
        </div>
      </div>
      </div>
    </div>
</section>
{% endblock %}
