{% extends "base.html" %} {% block body %}
<div class="bg">
    <div id="result" class="center">
        <h3 class="center testHead1">Results</h3>
        <form class="geo-form center">
            <div class="form-group center">
                <label class="label1 center" for="exampleInputEmail1"><strong>Salinity</strong></label>
                <!-- <input type="text" class="form-control inputCenter" id="latitude" aria-describedby="emailHelp"
                    name="latitude" value = {{Salinity}} disabled /> -->
                <a href = "#ecTable"><input type="text" class="form-control inputCenter" id="latitude" aria-describedby="emailHelp"
                        name="latitude" value = {{Salinity}} /></a>
            </div>
            <div class="form-group center">
                <label class="label1 center" for="exampleInputEmail1"><strong>Soil Texture</strong></label>
                <!-- <input type="text" class="form-control inputCenter" id="longitude" aria-describedby="emailHelp"
                    name="longitude" value="{{Texture}}" disabled /> -->
                <input type="text" class="form-control inputCenter" id="longitude" aria-describedby="emailHelp"
                        name="longitude" value={{Texture}} disabled />
            </div>
        </form>
        <table class="table table-striped" id= "ecTable"style = "background-color: rgba(17, 13, 3,0.742);color:white">
            <thead>
                <!--  rgba(8, 26 3, 0.542) -->
              <tr>
                <th scope="col">Salinity class</th>
                <th scope="col">EC (dS m<sup>-1</sup>)</th>
                <th scope="col">Effect on crops</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Slightly Saline</td>
                <td>0 - 4</td>
                <td>There are negligible effects of salinity</td>
                
              </tr>
              <tr>
                <td>Moderately Saline</td>
                <td>4 - 8</td>
                <td>Many crop’s yields are restricted.</td>
              </tr>
              <tr>
                <td>Highly Saline</td>
                <td> > 8 </td>
                <td>Tolerant crops can resist this condition.</td>
              </tr>
              <tr>
                <td colspan="3"><i style = "color:rgb(64, 253, 43)">Ref:</i><a style = "color:white" href = "https://link.springer.com/article/10.1007/s12517-020-05572-8" target = "_blank">Soil salinity detection and monitoring using Landsat data: a case study from Kot Addu, Pakistan</a></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
{% endblock %}