{% extends "base.html" %} {% block body %}
<section class="wrapper">
  <div class="container-fostrap">
    <!-- <div>
      <h1 class="heading">Provinces</h1>
    </div> -->
    <div class="content">
      <div class="container">
        <div>
          <h1 class="heading">Banbhor Division</h1>
        </div>
        <div class="row">
          {{card("Badin", url_for('static',filename = 'assets/Sindh/Badin.jpg'), '/soil/sindh/badin')}}
          {{card("Sujawal", url_for('static',filename = 'assets/Sindh/Sujawal.jpg'), '/soil/sindh/sujawal')}}
          {{card("Thatta", url_for('static',filename = 'assets/Sindh/Thatta.jpg'), '/soil/sindh/thatta')}}
        </div>
      </div>
      <div class="container">
        <div>
          <h1 class="heading">Hyderabad Division</h1>
        </div>
        <div class="row">
          {{card("Dadu", url_for('static',filename = 'assets/Sindh/Dadu.jpg'), '/soil/sindh//dadu')}}
          {{card("Hyderabad", url_for('static',filename = 'assets/Sindh/Hyderabad.jpg'), '/soil/sindh/hyderabad')}}
          {{card("Jamshoro", url_for('static',filename = 'assets/Sindh/Jamshoro.jpg'), '/soil/sindh/jamshoro')}}
          {{card("Matiari", url_for('static',filename = 'assets/Sindh/Matiari.jpg'), '/soil/sindh/matiari')}}
          {{card("Tando Allah Yar", url_for('static',filename = 'assets/Sindh/Tando Allah Yar.jpg'), '/soil/sindh/tandoallahyar')}}
          {{card("Tando Muhammad Khan", url_for('static',filename = 'assets/Sindh/Tando Muhammad Khan.jpg'), '/soil/sindh/tandomuhammadkhan')}}
        </div>
      </div>
      <div class="container">
        <div>
          <h1 class="heading">Sukkar Division</h1>
        </div>
        <div class="row">
          {{card("Ghotki", url_for('static',filename = 'assets/Sindh/Ghotki.jpg'), '/soil/sindh/ghotki')}}
          {{card("Khairpur", url_for('static',filename = 'assets/Sindh/Khairpur.jpg'), '/soil/sindh/khairpur')}}
          {{card("Sukkur", url_for('static',filename = 'assets/Sindh/Sukkur.jpg'), '/soil/sindh/sukkur')}}
        </div>
      </div>
      <div class="container">
        <div>
          <h1 class="heading">Larkana Division</h1>
        </div>
        <div class="row">
          {{card("Jacobabad", url_for('static',filename = 'assets/Sindh/Jacobabad.jpg'), '/soil/sindh/jacobabad')}}
          {{card("Kashmore", url_for('static',filename = 'assets/Sindh/Kashmore.jpg'), '/soil/sindh/kashmore')}}
          {{card("Larkana", url_for('static',filename = 'assets/Sindh/Larkana.jpg'), '/soil/sindh/larkana')}}
          {{card("Kamber Shahdadkot", url_for('static',filename = 'assets/Sindh/Kamber Shahdadkot.jpg'), '/soil/sindh/kambershahdadkot')}}
          {{card("Shaikarpur", url_for('static',filename = 'assets/Sindh/Shikarpur.jpg'), '/soil/sindh/shaikarpur')}}
        </div>
      </div>
      <div class="container">
        <div>
          <h1 class="heading">Karachi Division</h1>
        </div>
        <div class="row">
          {{card("Karachi", url_for('static',filename = 'assets/Sindh/Karachi.jpg'), '/soil/sindh/karachi')}}
          {{card("Korangi", url_for('static',filename = 'assets/Sindh/Korangi.jpg'), '/soil/sindh/korangi')}}
          {{card("Malir", url_for('static',filename = 'assets/Sindh/Malir.jpg'), '/soil/sindh/malir')}}
        </div>
      </div>
      <div class="container">
        <div>
          <h1 class="heading">Mirpur Khas Division</h1>
        </div>
        <div class="row">
          {{card("Mirpur Khas", url_for('static',filename = 'assets/Sindh/Mirpur Khas.jpg'), '/soil/sindh/mirpurkhas')}}
          {{card("Sanghar", url_for('static',filename = 'assets/Sindh/Sanghar.jpg'), '/soil/sindh/sanghar')}}
          {{card("Tharparkar", url_for('static',filename = 'assets/Sindh/Tharparkar.jpg'), '/soil/sindh/tharparkar')}}
          {{card("Umerkot", url_for('static',filename = 'assets/Sindh/Umerkot.jpg'), '/soil/sindh/umerkot')}}
        </div>
      </div>
      <div class="container">
        <div>
          <h1 class="heading">Shaheed Benazirabad Division</h1>
        </div>
        <div class="row">
          {{card("Shaheed Benazirabad", url_for('static',filename = 'assets/Sindh/Shaheed Benazirabad.jpg'), '/soil/sindh/shaheedbenazirabad')}}
          {{card("Naushahro Feroze", url_for('static',filename = 'assets/Sindh/Naushahro Feroze.jpg'), '/soil/sindh/naushahroferoze')}}
        </div>
      </div>




      </div>
    </div>
</section>
{% endblock %}
