{% extends "base.html" %} {% block body %}
<div class="bg1 mycenter">
  <div id="test" class="center">
    <h3 class="center testHead1">Enter Your Geo-Coordinates</h3>
    <form class="geo-form center" action="#" method="post">
      <div class="form-group center">
        <label class="label1 center" for="exampleInputEmail1"><strong>Latitude</strong></label>
        <input type="text" class="form-control inputCenter" id="latitude" aria-describedby="emailHelp"
          name="latitude" required/>
      </div>
      <div class="form-group center">
        <label class="label1 center" for="exampleInputEmail1"><strong>Longtitude</strong></label>
        <input type="text" class="form-control inputCenter" id="longitude" aria-describedby="emailHelp"
          name="longitude" required/>
      </div>
      <div class="form-group center">
        <label class="label1 center" for="exampleInputEmail1"><strong>Start Date</strong></label>
        <input type="date" class="form-control inputCenter"  aria-describedby="emailHelp"
          name="start_date" required/>
          <!-- <small  class="form-text text-white"><i>If you want to manually add,then Date format should be yy-mm-dd, e.g, 2022-01-01.</i></small>   -->
      </div>
      <div class="form-group center">
        <label class="label1 center" for="exampleInputEmail1"><strong>End Date</strong></label>
        <input type="date" class="form-control inputCenter"  aria-describedby="emailHelp"
          name="end_date" required/>
        <small class="form-text"><i>There should be atleast one month gap between start date and end date.</i></small>  
      </div>
      <div class="form-group">
          <button type="submit" class="button geo-button center">
            Submit
          </button>
      </div>
      <div class="button mapButton geo-button">Enter Geo-Coordinates VIA Map</div>
    </form>
  </div>
  <div id="map" class="center map">
  </div>
  <div class="map">
      <button type="submit" class="cordButton button geo-button center">
        Submit
      </button>
  </div>
</div>
{% endblock %}