{% extends "base.html" %} {% block body %}
<div class="bg">
  <div id="test" class="center">
    <h3 class="center testHead1">Enter Your Geo-Coordinates</h3>
    <form class="geo-form center">
      <div class="form-group center">
        <label class="label1 center" for="exampleInputEmail1"
          ><strong>Latitude</strong></label
        >
        <input
          type="text"
          class="form-control inputCenter"
          id="latitude"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="form-group center">
        <label class="label1 center" for="exampleInputEmail1"
          ><strong>Longtitude</strong></label
        >
        <input
          type="text"
          class="form-control inputCenter"
          id="latitude"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-danger geo-button center">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
