{% extends "base.html" %} 

<!-- {% block body %} -->

<header style="background-image: url('{{url_for('static', filename='assets/main.png')}}')">
<!-- <div style="background-image: url('{{url_for('static', filename='assets/main.png')}}');background-size:cover"> -->

<div id="test">
    <h3>Enter Your Geo-Coordinates</h3>
</div>
<!-- <form class="form-group">
    <div>
      <label>Latitude</label>&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="text" id="latitude" size="25" placeholder="Enter Latitude">
    </div>
    &nbsp;
    <div>
      <label>Longitude</label> &nbsp;
      <input type="text" id="longitude" size="25" placeholder="Enter Longitude">
    </div>
    <div>
        <button id="button" type="submit">Submit</button>
    </div>
  </form> -->
  <form style = "padding-left: 500px;padding-right: 145px;">
    <div class="form-group" >
      <label for="exampleInputEmail1">Latitude</label>
      <input type="text" style= "width:450px;" class="form-control" id="latitude" aria-describedby="emailHelp">
    </div>
    <div class="form-group" >
        <label for="exampleInputEmail1">Longtitude</label>
        <input type="text" style=" width:450px;" class="form-control" id="latitude" aria-describedby="emailHelp">
      </div>
    <div class="form-group" >
    <button type="submit"  style = "width:450px;"class="btn btn-danger">Submit</button>
</div>
</form>

</header>
<!-- {% endblock %} -->